<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <backgroundcolor>backgroundcolor</backgroundcolor>
    <allowoverlay>no</allowoverlay>
    <include condition="!Skin.HasSetting(firstrun4.0)">AutoConfig</include>
    <controls>
        <include>CommonSettingsBackground</include>
        <include>CommonMediaPlayingBackground</include>
        <include>Furniture_SettingsFloor</include>
        <control type="group">
            <animation type="WindowOpen" reversible="false" condition="![Window.Previous(SettingsCategory.xml) | Window.Previous(systeminfo) | Window.Previous(skinsettings)]">
                <effect type="zoom" start="150" end="100" center="960,540" time="240" tween="cubic" />
                <effect type="fade" end="100" time="240" />
            </animation>
            <animation type="WindowClose" reversible="false" condition="![Window.Next(SettingsCategory.xml) | Window.Next(systeminfo) | Window.Next(skinsettings)]">
                <effect type="fade" start="100" end="0" time="240" />
                <effect type="zoom" start="100" end="130" center="960,540" time="240" tween="cubic" easing="in" />
            </animation>
            <animation effect="zoom" end="91" center="960,360" time="320" tween="cubic" easing="inout" condition="true">Conditional</animation>
            <control type="image">
                <posx>52</posx>
                <posy>50</posy>
                <width>1815</width>
                <height>1120</height>
                <texture colordiffuse="$VAR[AreaColorVar]">wall/wall_bg_glow.png</texture>
                <visible>!Skin.HasSetting(DisableGlowbar)</visible>
                <include>PanelGlowFade</include>
            </control>
            <control type="image">
                <posx>52</posx>
                <posy>50</posy>
                <width>1815</width>
                <height>1120</height>
                <texture colordiffuse="$VAR[DialogColorVar]">wall/wall_bg.png</texture>
            </control>
            <control type="image">
                <posx>52</posx>
                <posy>50</posy>
                <width>1815</width>
                <height>1120</height>
                <texture>wall/wall_bg_reflection.png</texture>
            </control>
            <control type="panel" id="9000">
                <posx>92</posx>
                <posy>140</posy>
                <width>1850</width>
                <height>819</height>
                <onleft>ActivateWindow(1121)</onleft>
                <onright>9001</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <itemlayout height="270" width="440">
                    <control type="image">
                        <width>400</width>
                        <height>250</height>
                        <aspectratio>keep</aspectratio>
                        <texture>$INFO[ListItem.Icon]</texture>
                        <bordertexture border="5">button-nofocus.png</bordertexture>
                        <bordersize>5</bordersize>
                    </control>
                    <control type="image">
                        <posy>13</posy>
                        <posx>5</posx>
                        <width>390</width>
                        <height>220</height>
                        <texture colordiffuse="55FFFFFF">common/bgcolor.png</texture>
                    </control>
                    <control type="label">
                        <width>400</width>
                        <height>400</height>
                        <label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
                        <font>Font_Bold42</font>
                        <align>center</align>
                        <textcolor>white2</textcolor>
                    </control>
                </itemlayout>
                <focusedlayout height="270" width="440">
                    <control type="image">
                        <aspectratio>keep</aspectratio>
                        <width>400</width>
                        <height>250</height>
                        <texture>$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="image">
                        <posy>5</posy>
                        <width>400</width>
                        <height>240</height>
                        <texture border="20" colordiffuse="$VAR[FocusTextureColorVar]">views/addonwall_select.png</texture>
                        <animation effect="fade" start="100" end="50" time="40" condition="!Control.HasFocus(9000)">Conditional</animation>
                    </control>
                    <control type="label">
                        <width>400</width>
                        <height>400</height>
                        <label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
                        <font>Font_Bold42</font>
                        <align>center</align>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>480</label>
                        <property name="description">$LOCALIZE[31400]</property>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                        <icon>special://skin/backgrounds/color.jpg</icon>
                    </item>
                    <item id="2">
                        <label>157</label>
                        <property name="description">$LOCALIZE[31401]</property>
                        <onclick>ActivateWindow(VideosSettings)</onclick>
                        <icon>special://skin/backgrounds/videos/videos.jpg</icon>
                    </item>
                    <item id="3">
                        <label>2</label>
                        <property name="description">$LOCALIZE[31402]</property>
                        <onclick>ActivateWindow(MusicSettings)</onclick>
                        <icon>special://skin/backgrounds/music/music.jpg</icon>
                    </item>
                    <item id="4">
                        <label>1</label>
                        <property name="description">$LOCALIZE[31403]</property>
                        <onclick>ActivateWindow(PicturesSettings)</onclick>
                        <icon>special://skin/backgrounds/pictures/pictures.jpg</icon>
                    </item>
                    <item id="5">
                        <label>8</label>
                        <property name="description">$LOCALIZE[31404]</property>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                        <icon>special://skin/backgrounds/weather/weather.jpg</icon>
                    </item>
                    <item id="6">
                        <label>24001</label>
                        <label2>31411</label2>
                        <property name="description">$LOCALIZE[31408]</property>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                        <icon>special://skin/backgrounds/programs/programs.jpg</icon>
                    </item>
                    <item id="7">
                        <label>14036</label>
                        <property name="description">$LOCALIZE[31405]</property>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <icon>special://skin/backgrounds/network.jpg</icon>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <property name="description">$LOCALIZE[31406]</property>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <icon>special://skin/backgrounds/system/system.jpg</icon>
                    </item>
                    <item id="21">
                        <label>31017</label>
                        <label2>31478</label2>
                        <property name="description">$LOCALIZE[31016]</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>special://skin/backgrounds/livetv/livetv.jpg</icon>
                    </item>
                    <item id="10">
                        <label>13281</label>
                        <label2>31413</label2>
                        <property name="description">$LOCALIZE[31409]</property>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                        <icon>special://skin/backgrounds/system/systeminfo.jpg</icon>
                    </item>
                    <item id="9">
                        <label>Profiles</label>
                        <property name="description">some Text</property>
                        <onclick>ActivateWindow(Profiles)</onclick>
                        <icon>special://skin/backgrounds/appearance.jpg</icon>
                    </item>
                    <item id="9">
                        <label>File Manager</label>
                        <property name="description">some Text</property>
                        <onclick>ActivateWindow(filemanager)</onclick>
                        <icon>special://skin/backgrounds/system/files.jpg</icon>
                    </item>
                </content>
            </control>
<!--             <control type="textbox">
                <posx>555</posx>
                <posy>810</posy>
                <width>1200</width>
                <height>210</height>
                <label>$INFO[Container(9000).ListItem.Property(description)]</label>
                <font>Font_Reg32</font>
            </control> -->
        </control>
        <control type="group">
            <include>Animation_HideBreadCrumbs</include>
            <include>Breadcrumbs_BackBar</include>
            <include>BreadcrumbsContent</include>
        </control>
        <include>Furniture_NowPlayingWidget</include>
    </controls>
</window>
